In [3]:
import pandas as pd
import pymysql

# Connect to the MySQL database
connection = pymysql.connect(
    host='localhost',
    user='root',
    password='password',
    db='supply_chain'
)

# SQL query to fetch the dataset
query = """

SELECT 
    co.date AS date_ordered,
    bc.bike_type AS product,
    co.quantity,
    (co.total_price / co.quantity) AS price_per_unit,
    CONCAT(DATE_FORMAT(co.date - INTERVAL WEEKDAY(co.date) DAY, '%Y-%m-%d'), 
           '/', 
           DATE_FORMAT(co.date + INTERVAL (6 - WEEKDAY(co.date)) DAY, '%Y-%m-%d')) AS week
FROM 
    customer_order co
JOIN 
    Model m ON co.modelID = m.model_id
JOIN 
    bike_type bc ON m.bike_type_id = bc.bike_type_id
ORDER BY 
    co.date;

"""

# Load the query result into a Pandas DataFrame
df = pd.read_sql(query, connection)

# Close the database connection
connection.close()

# Display the DataFrame
print(df)

# Save the dataset as a CSV file
df.to_csv('supply_chain_dataset.csv', index=False)

print("Dataset saved successfully!")

  date_ordered        product  quantity  price_per_unit                   week
0   2024-04-08      Road Bike         3           250.0  2024-04-08/2024-04-14
1   2024-05-01    Hybrid Bike        10          2300.0  2024-04-29/2024-05-05
2   2024-05-02      Road Bike         1           250.0  2024-04-29/2024-05-05
3   2024-05-02    Hybrid Bike         2          2300.0  2024-04-29/2024-05-05
4   2024-05-03      Road Bike        24           250.0  2024-04-29/2024-05-05
5   2024-05-09      Road Bike         1           250.0  2024-05-06/2024-05-12
6   2024-10-09    Hybrid Bike         1           685.0  2024-10-07/2024-10-13
7   2024-10-09  Mountain Bike         1           730.0  2024-10-07/2024-10-13
Dataset saved successfully!

C:\Users\user\AppData\Local\Temp\ipykernel_22844\754063189.py:35: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, connection)